* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --body-background-color: #f0f2f5;
  --text-primary-color: #222222;
  --text-secondary-color: white;
  --text-income-color: #12a454;
  --text-outcome-color: #e92929;

  --row-background-color: white;

  --glass-background-color: rgba(195, 195, 195, 0.25);
  --glass-text-color: rgba(78, 78, 78, 0.788);
  --glass-blur-intensity: 50px;

  --rainbow-background-color: linear-gradient(0deg, #30a068, transparent 99%),
                              linear-gradient(45deg, #82c97b, #50b895);

  --border-radius: 10px;

  --modal-overlay: rgba(0, 0, 0, .7);

  --cancelation-color: red;
}

body {
  background-color: var(--body-background-color);
  font: 1rem 'Poppins', sans-serif;
}

a {
  color: #49AA26;
  text-decoration: none;
}

a:hover {
  color: #3dd705;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  padding: .8rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

button:hover,
.button.cancel:hover {
  opacity: 0.7;
}

.button.new {
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 3rem;
}

.button.cancel {
  width: 100%;
  height: 50px;
  border-radius: var(--border-radius);
  border: 2px solid var(--cancelation-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cancelation-color);
}

header {
  padding: 2rem 0 12rem 0;
  text-align: center;
  color: var(--text-primary-color);
  background: var(--header-background-color);
}

header h1 {
  font-weight: 400;
  color: var(--text-secondary-color);
}

.container {
  margin: auto;
  width: min(90vw, 80rem);
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal {
  padding: 2.4rem;
  border-radius: var(--border-radius);
  background: var(--body-background-color);
}

#form {
  max-width: 50rem;
}

#form h2 {
  font-weight: 400;
  font-size: 2rem;
}

input {
  width: 100%;
  border: none;
  border-radius: .2rem;
  padding: 1.3rem;
}

.input-group {
  margin-top: 1rem;
}

.input-group small {
  opacity: .4;
}

.input-group.actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.glass {
  color: var(--glass-text-color);
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: var(--glass-background-color);
  backdrop-filter: blur(var(--glass-blur-intensity));
  -webkit-backdrop-filter: blur(var(--glass-blur-intensity));
}

.rainbow {
  color: var(--text-secondary-color);
  background: var(--rainbow-background-color);
}

.card {
  padding: 2rem;
  border-radius: var(--border-radius);
}

.card + .card {
  margin-top: 2rem;
}

.card p {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.card h3 {
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#balance {
  margin-top: -8rem;
}

thead {
  text-align: left;
}

#transaction {
  display: block;
  width: 100%;
  overflow-x: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 1rem;
}

table td, table th {
  color: var(--text-primary-color);
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
}

table tbody td {
  background: var(--row-background-color);
}

table tbody td.income {
  color: var(--text-income-color);
}

table tbody td.outcome {
  color: var(--text-outcome-color);
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

@media(min-width: 800px) {
  :root {
    font-size: 70%;
  }

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .card + .card {
    margin-top: 0;
  }
}
